@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Signika&display=swap');

/* basic reset stuff */
html, body {
  font-family: "Roboto Mono";
  background-image: url('/email-pattern.png');
}

body {
  @apply bg-gray-100;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Signika";
}

.not-trello {
  height: 100vh;
}
.not-trello--content {
  padding-top: 10vh;
}
.board {
  height: 90vh;
}
.top-bar {
  height: 10vh;
}
.column-wrapper {
  min-width: 300px;
}
.modal {
  transition: opacity 0.25s ease;
}
.card-title-input {
  font-family: "Signika";
}

.card-detail ul {
  list-style: initial;
  margin: 1em;
  padding-inline-start: 0.5rem;
}