@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Signika&display=swap');

/* basic reset stuff */
html, body {
  font-family: "Roboto Mono";
  background-image: url('/email-pattern.png');
}

body {
  @apply bg-gray-100;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Signika"
}

.not-trello {
  height: 100vh;
}

.board {
  height: 100vh;
  padding-top: 10vh;
}
.top-bar {
  height: 10vh;
}
.column-wrapper {
  min-width: 300px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background: rgba(0,0,0,0.6);
}
.modal {
  // min-height: 50vh;
  // min-width: 800px;
  background: #FFF;
  // border-radius: 5px;
  // padding: 1em;
  color: #575757;
}
